<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert new Student</title>
    <%- include('head_incs') %>
</head>
<body>
    <%- include('menus') %>
    <h3>Insert New Student</h3>
    <form action="/students" method="post">
        <label for="fname" class="form-label">First Name</label>
        <input type="text" name="fname" id="fname" class="form-control"><br>
        <label for="lname" class="form-label">Last Name</label>
        <input type="text" name="lname" id="lname" class="form-control"><br>
        <label for="hobby" class="form-label">Hobby</label>
        <input type="text" name="hobby" id="hobby" class="form-control"><br>
        <input type="submit" value="Add New Student" class="btn btn-primary spacey-btn" class="form-control">
    </form>
    <a href="/students" class="btn btn-info spacey-btn">Back to Students</a>
</body>
</html>