body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.spacey-btn {
  margin: 0.2em;
}

#students_table > thead > tr > td {
  font-weight: bold;
}

.btn-extend {
  font-weight: 550 !important;
}
